.index-bg{
  max-width: 1366px;
  margin: 0 auto;
  background-image:url(../images/bg_home.svg), url(../images/ball01.svg), url(../images/ball02.svg),url(../images/ball03.svg);
  background-repeat: no-repeat;
  background-position: right top, -222px 588px,110% 1694px, 50px 2640px;
  background-size: 850px 768px, 380px 380px,310px 310px,150px 150px ;
  @include pad{
    background-image: url(../images/bg_home.svg), url(../images/ball01.svg), url(../images/ball02.svg),url(../images/ball03.svg);
    background-position:-100%  -100%, -97px 947px,110% 2737px, -109px 3886px ;
    background-size: 850px 768px, 167px 167px,135px 135px,185px 185px  ;
  }
  @include mobile{
    background-image:url(../images/bg_home.svg), url(../images/ball01.svg), url(../images/ball02.svg),url(../images/ball03.svg);
    background-position:-100%, -77px 743px,287px 3067px, -76px 4887px;
    background-size: 850px 768px, 126px 126px,135px 135px,153px 153px ;
    }
}
.plans-bg{
  background-image:url(../images/banner.svg);
  background-repeat: no-repeat;
  background-size: 889px 559px;
  background-position: right top -5px;
  @include pad{
    background-image:url(../images/banner_sm.svg);
    background-size: contain;
  }
  @include mobile{
    background-image: url(../images/banner_sm.svg);
    background-size: contain;
  }

}
.wrap{
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
    margin: 0 auto 30px auto;
    max-width: 1128px;
    @include pad{
      border-bottom: 2px solid #FFD153;
      padding-left: 24px;
      padding-right: 24px;
      background: #fff; 
      z-index: 999;
      position: sticky;
      width: 100%;
      top:0;
      left:0;
    }
    .logo{
      a{
        // display: block;
        img{
          width: 218px;
          height:40px;
          @include pad{
            width: 131px;
            height: 24px;
          }   
        }  
      }
    }
      .price{
        a{
          // display: block;
          @include btn-secondary;
          }
      }
  }
  .container{
    max-width: 1128px;
    padding: 0 20px;
    margin: 0 auto;
    .banner-plans{
      padding-top:54px;
      padding-bottom: 63px;
    }
    .banner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 38px;
      margin-bottom: 217px;
      @include pad{
        flex-direction: column;
        margin-bottom: 92px;
      };
      .bannerSlogan{
        h1{
          font-size:$font-s;
          color: $color-primary;
          margin-bottom: 8px;
        }
        h2{
          font-size:$font-xl;
          font-weight: bold;
          line-height: 1.5em;
          margin-bottom: 16px;
          @include pad{
            font-size: $font-l;
          }
        }
        p{
          font-size: $font-m;
          @include pad{
            font-size: $font-s;
            margin-bottom: 32px;
          }
        }
      }
      .bannerPic{
        img{
          width: 100%;
          height: 534px;
          @include mobile{
            width: 100%;
            height: 100%;
          }
        }
        @include pad{
          background: url(../images/bg_home_sm.svg);
          background-repeat:no-repeat;
          background-position: left bottom;
          background-size:contain; 
        }
      }
    }

    .go-to-top{
      position:fixed;
      right:5%;
      bottom:23px;
      width: 71px;
      height: auto;
      z-index: 999;
    }
    .main{
      .platform{
        margin-bottom: 100px;
        justify-content: space-between;  
        position: relative; 
        @include mobile{
          margin-bottom: 60px;
        } 
        h2{
          font-size: $font-l;
          text-align: center;
          font-weight: bold;
          @include mobile{
            font-size: $font-m-l-l;
          }
        }
        ul{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          li{
            width: 32%;
            align-items: center;
            @include pad{
              width: 100%;
            };
            @include mobile{
              width: 100%;
            };
            img{
              display: block;
              max-width: 90px;
              height: auto;
              padding-top: 48px;
              padding-bottom: 24px;
              margin: 0 auto;
              @include mobile{
                padding-top: 16px;
                padding-bottom: 16px;
              }
            }
            h3{
              font-size: $font-m-l;
              margin-bottom: 24px;
              text-align: center;
              font-weight: bold;
              @include mobile{
                font-size: $font-s;
                margin-bottom: 16px;
              }
            }
            p{
              display: block;
              font-style: $font-xs;
              text-align: center;
              line-height: 1.5em;
              color: $color-third;
            }
          }
        }
      }
      .service{
        width: 100%;
        height: auto;
        margin-bottom: 100px;
        text-align: center;
        @include pad{
          margin-bottom: 60px;
        }
        @include mobile{
          margin-bottom: 60px;
          position: relative;
        }
        h2{
          font-size: $font-l;
          line-height: 1.5em;
          margin-bottom: 16px;
          font-weight: bold;
          @include mobile{
            font-size: $font-m-l-l;
          }
        }
        p{
          font-size: $font-m;
          line-height: 1.5em;
          @include mobile{
            font-size: $font-s;
          }
        }
        ul{
          margin-top: 40px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap:wrap;
          @include pad{
            justify-content: center;
          }
          @include mobile{
            margin-top: 32px;
          }
          li{
            width: 24%;
            background: #fff;
            @include pad{
              width: 260px;
              margin-bottom: 24px;
              margin-right: 10px;
              margin-left: 10px;
            }
            text-align: center;
            @include deco-border;
            @include deco-shadow;
            img{
              width: 100%;
              height: auto;
              border-radius:12px 12px 0 0;
            }
            h3{
              margin-top: 16px;
              margin-bottom: 16px;
              font-size: $font-m+4px;
              line-height: 1.5em;
              color: $color-primary;
            }
            p{
              font-size: $font-xs;
              padding-bottom: 24px; 
            }
          }
        }
      }
      .solution{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 100px;
        height: auto;
        @include pad{
          flex-direction: column;
          justify-content: center;
        }
        @include mobile{
          margin-bottom: 60px;
        }
        .aside-text{
          @include pad{
            width: 100%;
            margin-bottom: 44px;
            text-align: center;
          }
          h2{
            font-size: $font-l;
            line-height: 1.5em;
            margin-bottom: 16px;
            font-weight: bold; 
            @include mobile{
              font-size: $font-m-l-l;
            }  
          }
          p{
            font-size: $font-s;
            line-height: 1.5em;
            margin-bottom: 36px;
            @include mobile{
              font-size: $font-xs;
            }
          }
          a{          
            @include btn-primary;
            @include pad{
            margin: 0 auto;
            }
          }
        }
        ul{
          width: 48%;
          display: flex;
          flex-wrap:wrap;
          justify-content: space-between;
          @include pad{
            width: 100%;
            justify-content: center;
            align-items: center;
          }
          li{
            @include deco-border;
            @include deco-shadow;
            margin-bottom: 28px;
            width: 45%;
            @include pad{
              width: 230px;
              margin-bottom: 24px;
              margin-left: 10px;
              justify-content: space-around;
            }
            @include mobile{
              width: 230px;
            }
            .circle{
              display: flex;
              justify-content: center;
              align-items: center;
              height: 86px;
              width: 86px;
              margin-left: 16px;
              margin-top: 32px;
              @include deco-shadow;
              border-radius: 999px;
              img{
                display:block;            
              }
            }       
            h3{
              font-size: $font-s;
              font-weight: bold;
              margin-top: 24px;
              margin-bottom: 16px;
              padding-left: 16px;
            }
            p{
              font-size: $font-xs;
              line-height: 1.5em;
              padding-bottom: 48px;
              padding-left: 16px;
              padding-right: 32px;
            }
          }
        }
      }
      .recommend{
        margin-bottom: 100px;
        @include mobile{
          margin-bottom: 30px;
        }
        h2{
          font-size: $font-l;
          font-weight: bold;
          text-align: center;
          margin-bottom: 104px;
        }
        ul{
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          width: 100%;
          li{
            position: relative;
            width: 31.3%;
            background: #fff;
            @include pad{
              width: 100%;
            }
            @include mobile{
              width: 100%;
              margin-bottom: 74px;
            }
            @include deco-shadow;
            @include deco-border;
            padding-left: 32px;
            padding-right: 32px;
            padding-bottom: 24px;
            padding-top: 24px;
            
            .circularPhoto{ 
              border-radius: 999px;
              width: 80px;
              height: 80px;
              position: absolute;
              top: -56px;
              left: 32px;
              @include deco-shadow;
              img{
                border-radius: 999px;
                object-fit:contain;
                width: 100%;
                height:100%;
              }
            }  
            p.review{
              font-size: $font-xs;
              padding-top: 24px;
              padding-bottom: 24px;
              line-height: 1.5em;
            }
            hr{
              width: 100%;
              border-bottom: 0.5px solid #DDDDDD;
              opacity: 1;
            }
            .company{
              h4{
                padding-top: 24px;
                padding-bottom: 8px;
                font-size: $font-s;
                font-weight: bold;
                margin-bottom: 8px;
              }
            }
            .box{
              display: flex;
              justify-content: space-between;
              align-items: center;
              p{
                font-size: $font-xs;
              }
              .score{
                display: flex;
                width: 121.02px;
                justify-content: space-between;
                align-items: center;
                img{
                  display: block;
                  width: 16.78px;
                  height: 16px;
                }
              }
            }
          }
        }
      }
      .plans-and-price{
        margin-bottom: 100px;
        h2{
          font-size: $font-l;
          text-align: center;
          font-weight: bold;
          margin-bottom: 48px;
          @include mobile{
            font-size: $font-m-l-l;
          }
        }
        .plans{
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin-bottom: 48px;
          .number-of-people{
            padding-left: 8px;
            padding-right: 8px;
            .num{
              font-size: $font-l;
              color: $color-primary;
            }
            a{
              @include btn-tertiary;
            }
          }
        }
        .comparison{
          display: flex;
          justify-content: center;
          align-items: center;
          .plan-basic{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 10.5px;
            margin-right: 10.5px;
            width: 40.8%;
            padding-bottom: 32px;
            @include deco-border;
            @include deco-shadow;
            h3{
              @include h3-title;
              padding-top: 10px;
              padding-bottom: 8px;
            }
            hr{
              width: 100%;
              border:0.5px solid $color-hr;
              margin-bottom: 32px;
            }
            p{
              text-align: center;
              line-height: 1.5em;
              .font-sub{
                font-size: $font-xs - 4px;
                line-height: 1.5em;
              }
              .font-sub-primary{
                @include font-sub;
                color: $color-primary;
                font-weight: bold;
              }
              .font-sub-bold{
                font-size: $font-xs - 4px;
                line-height: 1.5em;
                font-weight: bold;  
              }
              .font-num{
                font-family: Comfortaa;
                font-size: 32px;
                line-height: 1.5em;
              }
              .font-num-primary{
                color: $color-primary;
                font-size: 32px;
                line-height: 1.5em;
              }
            }
            .app-inner{
              display: flex;
              justify-content: space-evenly;
              align-content: center;
              .num-subscriptions{
                width: 169px;
                padding-top: 24px;
                padding-bottom: 24px;
                margin-top: 32px;
                margin-bottom: 32px;
                margin-left: 26px;
                background: #F5F5F5;
                border-radius: 12px;
                opacity: 1;
              }
              .equal{
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 29px;
                padding-left: 21px;
                padding-right: 17px;
              }
              .cost-monthly{
                margin-right: 26px;
                width: 169px;
                padding-top: 24px;
                padding-bottom: 24px;
                margin-top: 32px;
                margin-bottom: 32px;
                background: #F5F5F5;
                border-radius: 12px;
                opacity: 1;
              }
            }
            .features{
              padding-bottom: 32px;
              li{
                background: url(../images/icon_check.svg);
                background-repeat: no-repeat;
                background-position: left;
                background-size: 19.56px 16px;
                
                p{            
                  font-size: $font-xs;
                  text-align: left;
                  padding-top: 8px;
                  padding-bottom: 8px;
                  padding-left: 28.94px;
                }
              }
            }
            a{
              @include btn-primary;        
            }
          }
          .plan-stander{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 10.5px;
            margin-right: 10.5px;
            width: 40.8%;
            padding-bottom: 32px;
            @include deco-border;
            @include deco-shadow;
            h3{
              @include h3-title;
              padding-top: 10px;
              padding-bottom: 8px;
            }
            hr{
              width: 100%;
              border:0.5px solid $color-hr;
              margin-bottom: 32px;
            }
            p{
              text-align: center;
              line-height: 1.5em;
              .font-sub{
                font-size: $font-xs - 4px;
                line-height: 1.5em;
              }
              .font-sub-primary{
                @include font-sub;
                color: $color-primary;
                font-weight: bold;
              }
              .font-sub-bold{
                font-size: $font-xs - 4px;
                line-height: 1.5em;
                font-weight: bold;  
              }
              .font-num{
                font-family: Comfortaa;
                font-size: 32px;
                line-height: 1.5em;
              }
              .font-num-primary{
                color: $color-primary;
                font-size: 32px;
                line-height: 1.5em;
              }
            }
            .app-inner{
              display: flex;
              justify-content: space-evenly;
              align-content: center;
              .num-subscriptions{
                width: 169px;
                padding-top: 24px;
                padding-bottom: 24px;
                margin-top: 32px;
                margin-bottom: 32px;
                margin-left: 26px;
                background: #F5F5F5;
                border-radius: 12px;
                opacity: 1;
              }
              .equal{
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 29px;
                padding-left: 21px;
                padding-right: 17px;
              }
              .cost-monthly{
                margin-right: 26px;
                width: 169px;
                padding-top: 24px;
                padding-bottom: 24px;
                margin-top: 32px;
                margin-bottom: 32px;
                background: #F5F5F5;
                border-radius: 12px;
                opacity: 1;
              }
            }
            .features{
              padding-bottom: 32px;
              li{
                background: url(../images/icon_check.svg);
                background-repeat: no-repeat;
                background-position: left;
                background-size: 19.56px 16px;
                
                p{            
                  font-size: $font-xs;
                  text-align: left;
                  padding-top: 8px;
                  padding-bottom: 8px;
                  padding-left: 28.94px;
                }
              }
            }
            a{
              @include btn-primary;        
            }
          }
        }
      }
      .faq{
        h2{
          font-size: $font-l;
          text-align: center;
          font-weight: bold;
          margin-bottom: 48px;
          @include mobile{
            font-size: $font-m-l-l;
          }
        }
        li{
          display: flex;
          flex-direction: column;
          padding: 16px 32px;
          margin-bottom: 16px;
          @include deco-border;
          @include deco-shadow;
          &:hover{
            cursor: pointer;
          }
          .active{
            color: $color-primary;
            font-weight: bold;
          }
          .faq-title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3{
              font-size: $font-s;
              line-height: 1.5em;
            }
            img{
              width: 20px;
              height: 20px;
              display: block;
            }
          }
          .faq-ans{
            p{
              margin-top: 12px;
              font-size: $font-xs;
              color: $color-third;
              line-height: 2em;
            }
          }
        }
      }
    }
  }
}
.footer{
  text-align: center;
  background: url(../images/home_footer.svg);
  @include mobile{
    background: url(../images/footer_sm.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  background-repeat: no-repeat;
  background-size: contain;

  .p-footer{
    padding-top: 260px;
    font-size: $font-l;
    font-weight: bold;
    padding-bottom: 60px;
    @include mobile{
      font-size: $font-m-l;
      padding-top: 293px;
      padding-bottom: 36px;
    }
  }
  a{
    @include btn-primary;
    margin: 0 auto;
  }
}
.copyright{
  background: #F5F5F5;
  margin-top: 112px;
  @include mobile{
    margin-top: 72px;
  }
  p{
    font-size: $font-xs;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
  }
}