@import url(https://fonts.googleapis.com/css2?family=Comfortaa&display=swap);

@mixin btn-secondary{
    padding: 8px 32px;
    color:white;
    background: $color-secondary;
    border: 1px solid $color-secondary;
    &:hover{
        background: white;
        color: $color-secondary;
    }
    border-radius: 22px;
    // display: block;
}
@mixin btn-primary{
    padding: 12px 32px;
    color: white;
    background: $color-primary;
    border: 1px solid $color-primary;
    &:hover{
        background: white;
        color: $color-primary;
    }
    border-radius: 27px;
    // width: 136px;
}
@mixin  btn-tertiary {
    padding: 12px 32px;
    color: $color-primary;
    background: #fff;
    border:1px solid $color-primary;
    &:hover{
        background: $color-primary;
        color: #fff;
    }
    border-radius: 27px;
}
@mixin deco-border{
    border-radius:12px;
}
@mixin deco-shadow{
    box-shadow: 0px 2px 10px #00000014;
    opacity: 1
}
@mixin font-sub{
    font-size: $font-xs - 4px;
    vertical-align: 10%;
}
@mixin h3-title{
    font-size: $font-m-l;
    font-weight: bold;
    text-align: center;
}