// 主色設定
$color-primary: #56C4C5;
$color-secondary: #FF5D50;
$color-third:#747474;
// 字體大小設定
$font-xl: 48px;
$font-l: 32px;
$font-m: 20px;
$font-s: 18px;
$font-xs: 16px;

// 字型設定
$font-family-text:'Noto Sans TC', '微軟正黑體', sans-serif;