/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css2?family=Comfortaa&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body, input, a {
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.index-bg {
  max-width: 1366px;
  margin: 0 auto;
  background-image: url(../images/bg_home.svg), url(../images/ball01.svg), url(../images/ball02.svg), url(../images/ball03.svg);
  background-repeat: no-repeat;
  background-position: right top, -222px 588px, 110% 1694px, 50px 2640px;
  background-size: 850px 768px, 380px 380px, 310px 310px, 150px 150px;
}
@media (max-width: 768px) {
  .index-bg {
    background-image: url(../images/bg_home.svg), url(../images/ball01.svg), url(../images/ball02.svg), url(../images/ball03.svg);
    background-position: -100% -100%, -97px 947px, 110% 2737px, -109px 3886px;
    background-size: 850px 768px, 167px 167px, 135px 135px, 185px 185px;
  }
}
@media (max-width: 375px) {
  .index-bg {
    background-image: url(../images/bg_home.svg), url(../images/ball01.svg), url(../images/ball02.svg), url(../images/ball03.svg);
    background-position: -100%, -77px 743px, 287px 3067px, -76px 4887px;
    background-size: 850px 768px, 126px 126px, 135px 135px, 153px 153px;
  }
}

.plans-bg {
  background-image: url(../images/banner.svg);
  background-repeat: no-repeat;
  background-size: 889px 559px;
  background-position: right top -5px;
}
@media (max-width: 768px) {
  .plans-bg {
    background-image: url(../images/banner_sm.svg);
    background-size: contain;
  }
}
@media (max-width: 375px) {
  .plans-bg {
    background-image: url(../images/banner_sm.svg);
    background-size: contain;
  }
}

.wrap .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 20px;
  margin: 0 auto 30px auto;
  max-width: 1128px;
}
@media (max-width: 768px) {
  .wrap .header {
    border-bottom: 2px solid #FFD153;
    padding-left: 24px;
    padding-right: 24px;
    background: #fff;
    z-index: 999;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
  }
}
.wrap .header .logo a img {
  width: 218px;
  height: 40px;
}
@media (max-width: 768px) {
  .wrap .header .logo a img {
    width: 131px;
    height: 24px;
  }
}
.wrap .header .price a {
  padding: 8px 32px;
  color: white;
  background: #FF5D50;
  border: 1px solid #FF5D50;
  border-radius: 22px;
}
.wrap .header .price a:hover {
  background: white;
  color: #FF5D50;
}
.wrap .container {
  max-width: 1128px;
  padding: 0 20px;
  margin: 0 auto;
}
.wrap .container .banner-plans {
  padding-top: 54px;
  padding-bottom: 63px;
}
.wrap .container .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 38px;
  margin-bottom: 217px;
}
@media (max-width: 768px) {
  .wrap .container .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 92px;
  }
}
.wrap .container .banner .bannerSlogan h1 {
  font-size: 18px;
  color: #56C4C5;
  margin-bottom: 8px;
}
.wrap .container .banner .bannerSlogan h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .wrap .container .banner .bannerSlogan h2 {
    font-size: 32px;
  }
}
.wrap .container .banner .bannerSlogan p {
  font-size: 20px;
}
@media (max-width: 768px) {
  .wrap .container .banner .bannerSlogan p {
    font-size: 18px;
    margin-bottom: 32px;
  }
}
.wrap .container .banner .bannerPic img {
  width: 100%;
  height: 534px;
}
@media (max-width: 375px) {
  .wrap .container .banner .bannerPic img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .wrap .container .banner .bannerPic {
    background: url(../images/bg_home_sm.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
  }
}
.wrap .container .go-to-top {
  position: fixed;
  right: 5%;
  bottom: 23px;
  width: 71px;
  height: auto;
  z-index: 999;
}
.wrap .container .main .platform {
  margin-bottom: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media (max-width: 375px) {
  .wrap .container .main .platform {
    margin-bottom: 60px;
  }
}
.wrap .container .main .platform h2 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 375px) {
  .wrap .container .main .platform h2 {
    font-size: 28px;
  }
}
.wrap .container .main .platform ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .container .main .platform ul li {
  width: 32%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .wrap .container .main .platform ul li {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .wrap .container .main .platform ul li {
    width: 100%;
  }
}
.wrap .container .main .platform ul li img {
  display: block;
  max-width: 90px;
  height: auto;
  padding-top: 48px;
  padding-bottom: 24px;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .wrap .container .main .platform ul li img {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.wrap .container .main .platform ul li h3 {
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 375px) {
  .wrap .container .main .platform ul li h3 {
    font-size: 18px;
    margin-bottom: 16px;
  }
}
.wrap .container .main .platform ul li p {
  display: block;
  font-style: 16px;
  text-align: center;
  line-height: 1.5em;
  color: #747474;
}
.wrap .container .main .service {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  text-align: center;
}
@media (max-width: 768px) {
  .wrap .container .main .service {
    margin-bottom: 60px;
  }
}
@media (max-width: 375px) {
  .wrap .container .main .service {
    margin-bottom: 60px;
    position: relative;
  }
}
.wrap .container .main .service h2 {
  font-size: 32px;
  line-height: 1.5em;
  margin-bottom: 16px;
  font-weight: bold;
}
@media (max-width: 375px) {
  .wrap .container .main .service h2 {
    font-size: 28px;
  }
}
.wrap .container .main .service p {
  font-size: 20px;
  line-height: 1.5em;
}
@media (max-width: 375px) {
  .wrap .container .main .service p {
    font-size: 18px;
  }
}
.wrap .container .main .service ul {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .wrap .container .main .service ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 375px) {
  .wrap .container .main .service ul {
    margin-top: 32px;
  }
}
.wrap .container .main .service ul li {
  width: 24%;
  background: #fff;
  text-align: center;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  opacity: 1;
}
@media (max-width: 768px) {
  .wrap .container .main .service ul li {
    width: 260px;
    margin-bottom: 24px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.wrap .container .main .service ul li img {
  width: 100%;
  height: auto;
  border-radius: 12px 12px 0 0;
}
.wrap .container .main .service ul li h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 1.5em;
  color: #56C4C5;
}
.wrap .container .main .service ul li p {
  font-size: 16px;
  padding-bottom: 24px;
}
.wrap .container .main .solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 100px;
  height: auto;
}
@media (max-width: 768px) {
  .wrap .container .main .solution {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 375px) {
  .wrap .container .main .solution {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .wrap .container .main .solution .aside-text {
    width: 100%;
    margin-bottom: 44px;
    text-align: center;
  }
}
.wrap .container .main .solution .aside-text h2 {
  font-size: 32px;
  line-height: 1.5em;
  margin-bottom: 16px;
  font-weight: bold;
}
@media (max-width: 375px) {
  .wrap .container .main .solution .aside-text h2 {
    font-size: 28px;
  }
}
.wrap .container .main .solution .aside-text p {
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 36px;
}
@media (max-width: 375px) {
  .wrap .container .main .solution .aside-text p {
    font-size: 16px;
  }
}
.wrap .container .main .solution .aside-text a {
  padding: 12px 32px;
  color: white;
  background: #56C4C5;
  border: 1px solid #56C4C5;
  border-radius: 27px;
}
.wrap .container .main .solution .aside-text a:hover {
  background: white;
  color: #56C4C5;
}
@media (max-width: 768px) {
  .wrap .container .main .solution .aside-text a {
    margin: 0 auto;
  }
}
.wrap .container .main .solution ul {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .wrap .container .main .solution ul {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.wrap .container .main .solution ul li {
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  opacity: 1;
  margin-bottom: 28px;
  width: 45%;
}
@media (max-width: 768px) {
  .wrap .container .main .solution ul li {
    width: 230px;
    margin-bottom: 24px;
    margin-left: 10px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 375px) {
  .wrap .container .main .solution ul li {
    width: 230px;
  }
}
.wrap .container .main .solution ul li .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 86px;
  width: 86px;
  margin-left: 16px;
  margin-top: 32px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  opacity: 1;
  border-radius: 999px;
}
.wrap .container .main .solution ul li .circle img {
  display: block;
}
.wrap .container .main .solution ul li h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 16px;
  padding-left: 16px;
}
.wrap .container .main .solution ul li p {
  font-size: 16px;
  line-height: 1.5em;
  padding-bottom: 48px;
  padding-left: 16px;
  padding-right: 32px;
}
.wrap .container .main .recommend {
  margin-bottom: 100px;
}
@media (max-width: 375px) {
  .wrap .container .main .recommend {
    margin-bottom: 30px;
  }
}
.wrap .container .main .recommend h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 104px;
}
.wrap .container .main .recommend ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.wrap .container .main .recommend ul li {
  position: relative;
  width: 31.3%;
  background: #fff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  opacity: 1;
  border-radius: 12px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-top: 24px;
}
@media (max-width: 768px) {
  .wrap .container .main .recommend ul li {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .wrap .container .main .recommend ul li {
    width: 100%;
    margin-bottom: 74px;
  }
}
.wrap .container .main .recommend ul li .circularPhoto {
  border-radius: 999px;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -56px;
  left: 32px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  opacity: 1;
}
.wrap .container .main .recommend ul li .circularPhoto img {
  border-radius: 999px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.wrap .container .main .recommend ul li p.review {
  font-size: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 1.5em;
}
.wrap .container .main .recommend ul li hr {
  width: 100%;
  border-bottom: 0.5px solid #DDDDDD;
  opacity: 1;
}
.wrap .container .main .recommend ul li .company h4 {
  padding-top: 24px;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.wrap .container .main .recommend ul li .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .container .main .recommend ul li .box p {
  font-size: 16px;
}
.wrap .container .main .recommend ul li .box .score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 121.02px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .container .main .recommend ul li .box .score img {
  display: block;
  width: 16.78px;
  height: 16px;
}
.wrap .container .main .plans-and-price {
  margin-bottom: 100px;
}
.wrap .container .main .plans-and-price h2 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 48px;
}
@media (max-width: 375px) {
  .wrap .container .main .plans-and-price h2 {
    font-size: 28px;
  }
}
.wrap .container .main .plans-and-price .plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}
.wrap .container .main .plans-and-price .plans .number-of-people {
  padding-left: 8px;
  padding-right: 8px;
}
.wrap .container .main .plans-and-price .plans .number-of-people .num {
  font-size: 32px;
  color: #56C4C5;
}
.wrap .container .main .plans-and-price .plans .number-of-people a {
  padding: 12px 32px;
  color: #56C4C5;
  background: #fff;
  border: 1px solid #56C4C5;
  border-radius: 27px;
}
.wrap .container .main .plans-and-price .plans .number-of-people a:hover {
  background: #56C4C5;
  color: #fff;
}
.wrap .container .main .plans-and-price .comparison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .container .main .plans-and-price .comparison .plan-basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10.5px;
  margin-right: 10.5px;
  width: 40.8%;
  padding-bottom: 32px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  opacity: 1;
}
.wrap .container .main .plans-and-price .comparison .plan-basic h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 8px;
}
.wrap .container .main .plans-and-price .comparison .plan-basic hr {
  width: 100%;
  border: 0.5px solid #DDDDDD;
  margin-bottom: 32px;
}
.wrap .container .main .plans-and-price .comparison .plan-basic p {
  text-align: center;
  line-height: 1.5em;
}
.wrap .container .main .plans-and-price .comparison .plan-basic p .font-sub {
  font-size: 12px;
  line-height: 1.5em;
}
.wrap .container .main .plans-and-price .comparison .plan-basic p .font-sub-primary {
  font-size: 12px;
  vertical-align: 10%;
  color: #56C4C5;
  font-weight: bold;
}
.wrap .container .main .plans-and-price .comparison .plan-basic p .font-sub-bold {
  font-size: 12px;
  line-height: 1.5em;
  font-weight: bold;
}
.wrap .container .main .plans-and-price .comparison .plan-basic p .font-num {
  font-family: Comfortaa;
  font-size: 32px;
  line-height: 1.5em;
}
.wrap .container .main .plans-and-price .comparison .plan-basic p .font-num-primary {
  color: #56C4C5;
  font-size: 32px;
  line-height: 1.5em;
}
.wrap .container .main .plans-and-price .comparison .plan-basic .app-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}
.wrap .container .main .plans-and-price .comparison .plan-basic .app-inner .num-subscriptions {
  width: 169px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 26px;
  background: #F5F5F5;
  border-radius: 12px;
  opacity: 1;
}
.wrap .container .main .plans-and-price .comparison .plan-basic .app-inner .equal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 29px;
  padding-left: 21px;
  padding-right: 17px;
}
.wrap .container .main .plans-and-price .comparison .plan-basic .app-inner .cost-monthly {
  margin-right: 26px;
  width: 169px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  background: #F5F5F5;
  border-radius: 12px;
  opacity: 1;
}
.wrap .container .main .plans-and-price .comparison .plan-basic .features {
  padding-bottom: 32px;
}
.wrap .container .main .plans-and-price .comparison .plan-basic .features li {
  background: url(../images/icon_check.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 19.56px 16px;
}
.wrap .container .main .plans-and-price .comparison .plan-basic .features li p {
  font-size: 16px;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 28.94px;
}
.wrap .container .main .plans-and-price .comparison .plan-basic a {
  padding: 12px 32px;
  color: white;
  background: #56C4C5;
  border: 1px solid #56C4C5;
  border-radius: 27px;
}
.wrap .container .main .plans-and-price .comparison .plan-basic a:hover {
  background: white;
  color: #56C4C5;
}
.wrap .container .main .plans-and-price .comparison .plan-stander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10.5px;
  margin-right: 10.5px;
  width: 40.8%;
  padding-bottom: 32px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  opacity: 1;
}
.wrap .container .main .plans-and-price .comparison .plan-stander h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 8px;
}
.wrap .container .main .plans-and-price .comparison .plan-stander hr {
  width: 100%;
  border: 0.5px solid #DDDDDD;
  margin-bottom: 32px;
}
.wrap .container .main .plans-and-price .comparison .plan-stander p {
  text-align: center;
  line-height: 1.5em;
}
.wrap .container .main .plans-and-price .comparison .plan-stander p .font-sub {
  font-size: 12px;
  line-height: 1.5em;
}
.wrap .container .main .plans-and-price .comparison .plan-stander p .font-sub-primary {
  font-size: 12px;
  vertical-align: 10%;
  color: #56C4C5;
  font-weight: bold;
}
.wrap .container .main .plans-and-price .comparison .plan-stander p .font-sub-bold {
  font-size: 12px;
  line-height: 1.5em;
  font-weight: bold;
}
.wrap .container .main .plans-and-price .comparison .plan-stander p .font-num {
  font-family: Comfortaa;
  font-size: 32px;
  line-height: 1.5em;
}
.wrap .container .main .plans-and-price .comparison .plan-stander p .font-num-primary {
  color: #56C4C5;
  font-size: 32px;
  line-height: 1.5em;
}
.wrap .container .main .plans-and-price .comparison .plan-stander .app-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}
.wrap .container .main .plans-and-price .comparison .plan-stander .app-inner .num-subscriptions {
  width: 169px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 26px;
  background: #F5F5F5;
  border-radius: 12px;
  opacity: 1;
}
.wrap .container .main .plans-and-price .comparison .plan-stander .app-inner .equal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 29px;
  padding-left: 21px;
  padding-right: 17px;
}
.wrap .container .main .plans-and-price .comparison .plan-stander .app-inner .cost-monthly {
  margin-right: 26px;
  width: 169px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  background: #F5F5F5;
  border-radius: 12px;
  opacity: 1;
}
.wrap .container .main .plans-and-price .comparison .plan-stander .features {
  padding-bottom: 32px;
}
.wrap .container .main .plans-and-price .comparison .plan-stander .features li {
  background: url(../images/icon_check.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 19.56px 16px;
}
.wrap .container .main .plans-and-price .comparison .plan-stander .features li p {
  font-size: 16px;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 28.94px;
}
.wrap .container .main .plans-and-price .comparison .plan-stander a {
  padding: 12px 32px;
  color: white;
  background: #56C4C5;
  border: 1px solid #56C4C5;
  border-radius: 27px;
}
.wrap .container .main .plans-and-price .comparison .plan-stander a:hover {
  background: white;
  color: #56C4C5;
}
.wrap .container .main .faq h2 {
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 48px;
}
@media (max-width: 375px) {
  .wrap .container .main .faq h2 {
    font-size: 28px;
  }
}
.wrap .container .main .faq li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 32px;
  margin-bottom: 16px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
  opacity: 1;
}
.wrap .container .main .faq li:hover {
  cursor: pointer;
}
.wrap .container .main .faq li .active {
  color: #56C4C5;
  font-weight: bold;
}
.wrap .container .main .faq li .faq-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .container .main .faq li .faq-title h3 {
  font-size: 18px;
  line-height: 1.5em;
}
.wrap .container .main .faq li .faq-title img {
  width: 20px;
  height: 20px;
  display: block;
}
.wrap .container .main .faq li .faq-ans p {
  margin-top: 12px;
  font-size: 16px;
  color: #747474;
  line-height: 2em;
}

.footer {
  text-align: center;
  background: url(../images/home_footer.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 375px) {
  .footer {
    background: url(../images/footer_sm.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.footer .p-footer {
  padding-top: 260px;
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 60px;
}
@media (max-width: 375px) {
  .footer .p-footer {
    font-size: 24px;
    padding-top: 293px;
    padding-bottom: 36px;
  }
}
.footer a {
  padding: 12px 32px;
  color: white;
  background: #56C4C5;
  border: 1px solid #56C4C5;
  border-radius: 27px;
  margin: 0 auto;
}
.footer a:hover {
  background: white;
  color: #56C4C5;
}

.copyright {
  background: #F5F5F5;
  margin-top: 112px;
}
@media (max-width: 375px) {
  .copyright {
    margin-top: 72px;
  }
}
.copyright p {
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
}
/*# sourceMappingURL=all.css.map */